In [1]:
pip install mlxtend

Requirement already satisfied: mlxtend in c:\users\toshiba\anaconda3\lib\site-packages (0.18.0)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\toshiba\anaconda3\lib\site-packages (from mlxtend) (3.1.1)
Requirement already satisfied: numpy>=1.16.2 in c:\users\toshiba\anaconda3\lib\site-packages (from mlxtend) (1.16.5)
Requirement already satisfied: setuptools in c:\users\toshiba\anaconda3\lib\site-packages (from mlxtend) (41.4.0)
Requirement already satisfied: scipy>=1.2.1 in c:\users\toshiba\anaconda3\lib\site-packages (from mlxtend) (1.3.1)
Requirement already satisfied: joblib>=0.13.2 in c:\users\toshiba\anaconda3\lib\site-packages (from mlxtend) (0.13.2)
Requirement already satisfied: scikit-learn>=0.20.3 in c:\users\toshiba\anaconda3\lib\site-packages (from mlxtend) (0.21.3)
Requirement already satisfied: pandas>=0.24.2 in c:\users\toshiba\anaconda3\lib\site-packages (from mlxtend) (0.25.1)
Requirement already satisfied: cycler>=0.10 in c:\users\toshiba\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\toshiba\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\toshiba\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.4.2)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\toshiba\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.0)
Requirement already satisfied: pytz>=2017.2 in c:\users\toshiba\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2019.3)
Requirement already satisfied: six in c:\users\toshiba\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib>=3.0.0->mlxtend) (1.12.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
from mlxtend.frequent_patterns import apriori

In [12]:
dataset1 = [[11,12,15],
            [12,14],
            [12,13],
            [11,12,14],
            [11,13],
            [12,13],
            [11,13],
            [11,12,13,15],
            [11,12,13]]

In [13]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
TranEncod = TransactionEncoder()
te_ary = TranEncod.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=TranEncod.columns_)

In [14]:
df

      11     12     13     14     15
0   True   True  False  False   True
1  False   True  False   True  False
2   True   True  False   True  False
3   True  False   True  False  False
4  False   True   True  False  False
5   True  False   True  False  False
6   True   True   True  False   True
7   True   True   True  False  False

In [15]:
apriori(df, min_support=0.6)

   support itemsets
0    0.750      (0)
1    0.750      (1)
2    0.625      (2)

In [16]:
apriori(df, min_support=0.6,use_colnames=True)

   support itemsets
0    0.750     (11)
1    0.750     (12)
2    0.625     (13)

In [17]:
frequent_itemsets = apriori(df, min_support=0.5, use_colnames=True)
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))
frequent_itemsets

   support  itemsets  length
0    0.750      (11)       1
1    0.750      (12)       1
2    0.625      (13)       1
3    0.500  (12, 11)       2
4    0.500  (11, 13)       2

In [18]:
frequent_itemsets[ (frequent_itemsets['length'] == 2) &
          (frequent_itemsets['support'] >= 0.5) ]

   support  itemsets  length
3      0.5  (12, 11)       2
4      0.5  (11, 13)       2

In [19]:
frequent_itemsets[ frequent_itemsets['itemsets'] == {'Diaper', 'Drink'} ]

Empty DataFrame
Columns: [support, itemsets, length]
Index: []